@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Merriweather:wght@300;700&family=Open+Sans:wght@300&family=Roboto:wght@100&family=Sofia&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* Menu*/
#menu li > a{
  font-size: 18px;
  font-weight: bold;
  color:#3f3f3f ;
  
}

#menu form > button{
  font-size: 18px;
  font-weight: bold;
}

/*carousel*/

/* .carousel{
  max-width: 50rem;
 
} */


.carousel-inner img{
  max-height: 40rem;
  
}

/* medida pantalla peque*/

 @media (max-width:768px){
  #intro, #equipo {
    width: 90% !important;
  }
 }
#equipo p{
display: none;

}

 .servicio-fila{
  width: 100% !important;
  text-align: center;
 }
@media(max-width: 576px){
  .icono-wrap{
    flex-wrap: wrap;
    justify-content: center !important;
  }
}

/*mapa*/

.mapa{
  background: url(/imagenes/imagen9.jpg);
  width: 100%;
  height: 500px;
}

#local{
  background-color: #f3f3f3;
  padding-bottom: 300px;
  display: flex;
  justify-content: center;
}
.wrapper{
  width: 50%;
  margin-left: 100px;
  padding-top: 150px;
}

@media(max-width:1200px){

  #local{
    flex-wrap: wrap;
    padding-top: 30px;
  }
  .wrapper{
    width: 90%;
    margin: auto;
    padding-top: 50px;
  }
}

#numeros-local div {
  padding:0 20px 0 0 ;
  height: 40px;
}

#numeros-local div:not(:last-child){
  border-right: 2px solid #3f3f3f;
}

#numeros-local div:not(:first-child){
  padding-left: 20px;
}
#numeros-local p{
  margin: 0;
}